fastapi==0.120.0
uvicorn==0.38.0
python-multipart==0.0.20
pillow==12.0.0
prometheus_fastapi_instrumentator==7.1.0
aioftp==0.27.2
aio_pika==9.5.7
sqlalchemy==2.0.43
pyodbc==5.2.0
aiofiles==25.1.0