RABBITMQ_URL=amqp://guest:guest@localhost/
FTP_HOST=127.0.0.1
FTP_PORT=21
FTP_USER=test
FTP_PASS=test
FTP_TARGET_DIR=/uploads
CAMERA_IP_MAPPING={"cam123": "172.20.0.1", "cam456": "172.20.0.2", "cam789": ""}
LOCATION_USER_PASS_MAPPING={"North": {"username": "north_user", "password": "north_pass"}, "South": {"username": "south_user", "password": "south_pass"}, "East": {"username": "east_user", "password": "east_pass"}}
CAMERA_LOCATION_MAPPING={"cam123": "North", "cam456": "South", "cam789": "East"}